@above tablet {
  .element {
    color: #fff;
  }
}

@below tablet {
  .element {
    color: #0f0;
  }
}

@between mobile tablet {
  .element {
    color: #000;
  }
}

@at tablet {
  .element {
    color: #fff;
  }
}